<section id="about" class="section-about section">
  <div class="section-about__container container">
    <div class="section-about__content content">
      <h3 class="section-about__subtitle content__subtitle">
        About Me
      </h3>
      <h2 class="section-about__title content__title">
        Who
        <span class="section-about__title--blue">I am</span>
      </h2>
      <p class="section-about__text">If you like my works Follow me:</p>
      <div class="section-about__social social">
        <ul class="section-about__list social__list">
          <li class="section-about__item social__item">
            <a href="" class="social__link">
              <svg class="section-about__icon social__icon">
                <use class="social__use" xlink:href="#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="section-about__item social__item">
            <a href="" class="social__link">
              <svg class="section-about__icon social__icon">
                <use class="social__use" xlink:href="#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="section-about__item social__item">
            <a href="" class="social__link">
              <svg class="section-about__icon social__icon">
                <use class="social__use" xlink:href="#youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="section-about__info">
      <p class="section-about__text">
        I am a photographer who loves non-standard locations, unique people and
        sunlight! I specialize in studio photography, but I with no doubts love
        challenges! I like experiments, and find unusual faces. My latest
        passion is black and white photography – stylish and unique.
      </p>
      <p class="section-about__text">
        I enjoy creating memorable looks and make extraordinary photo
        sessions.The best way to evaluate a photographer is to look at his
        portfolio. And, whatever was written in the photographer’s biography,
        the photographs themselves will tell everything about him.
      </p>
    </div>
  </div>
</section>
