<section id="contact" class="section-contacts section">
  <div class="section-contacts__container container">
    <div
      class="section-contacts__content content"
      data-uk-scrollspy="cls: uk-animation-slide-left; delay: 300; repeat: true"
    >
      <h3 class="section-contacts__subtitle content__subtitle">Contacts</h3>
      <h2 class="section-contacts__title content__title">
        <span class="content__title--blue">Contact</span>
        Me
      </h2>
      <p class="section-contacts__text">
        You can find me here:
        <span class="section-contacts__span"
          >Kremenchuk,Managarova street, 11</span
        >
      </p>
      <p class="section-contacts__text">
        Phone:
        <a
          class="section-contacts__link section-contacts__link--phone"
          href="tel:+380969478654"
          >+380969478654</a
        >
      </p>
      <p class="section-contacts__text">
        Monday to Friday from:
        <span class="section-contacts__span">9.00 am to 8.00 pm</span>
      </p>
      <p class="section-contacts__text">
        Saturday from:
        <span class="section-contacts__span">10.00 am to 6.00 pm</span>
      </p>
      <a
        target="_blank"
        class="section-contacts__link section-contacts__link--mail"
        href="mailto:YevheniiPerepeliatnyk@gmail.com"
        >YevheniiPerepeliatnyk@gmail.com</a
      >
      <div class="section-contacts__social social">
        <ul
          class="section-contacts__list social__list"
          data-uk-scrollspy="cls: uk-animation-slide-bottom; delay: 800; repeat: true"
        >
          <li class="section-contacts__item social__item">
            <a href="" class="social__link uk-animation-toggle">
              <svg
                class="section-contacts__icon social__icon uk-animation-shake"
              >
                <use class="social__use" xlink:href="#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="section-contacts__item social__item">
            <a href="" class="social__link uk-animation-toggle">
              <svg
                class="section-contacts__icon social__icon uk-animation-shake"
              >
                <use class="social__use" xlink:href="#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="section-contacts__item social__item">
            <a href="" class="social__link uk-animation-toggle">
              <svg
                class="section-contacts__icon social__icon uk-animation-shake"
              >
                <use class="social__use" xlink:href="#youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div
      class="section-contacts__form-wrapper"
      data-uk-scrollspy="cls: uk-animation-slide-bottom; delay: 800; repeat: true"
    >
      <h2
        class="section-contacts__title section-contacts__title--form content__title"
      >
        <span class="section-contacts__title--blue content__title--blue"
          >Get in</span
        >
        Touch
      </h2>
      <form id="form" class="section-contacts__form form" action="POST">
        <input
          class="section-contact__input form__input"
          type="text"
          minlength="5"
          placeholder="Your name..."
          required
        />

        <input
          class="section-contact__input form__input"
          type="email"
          placeholder="Your email..."
          required
        />
        <textarea
          class="section-contact__textarea form__textarea"
          minlength="3"
          cols="10"
          rows="3"
          placeholder="Question... (necessarily)"
          required
        ></textarea>

        <button
          form="form"
          class="form__button button uk-animation-toggle"
          tabindex="0"
        >
          <span class="button__text uk-animation-scale-up">Send</span>
        </button>
      </form>
    </div>
  </div>
</section>
