<footer id="footer" class="footer section">
  <div id="map" class="footer__map map"></div>
  <div class="footer__main">
    <div class="footer__container container">
      <div class="footer__header">
        <div class="footer__logo logo">
          <a href="#header" class="footer__logo-link logo__link">
            <img class="logo__img" src="images/logo_img.png" alt="Logo" />
            <h3 class="footer__title logo__title">Yevhenii Perepeliatnyk</h3>
          </a>
          <span class="footer__line navigation__line"></span>
          <span class="footer__text">Photographer &#38; videographer</span>
        </div>

        <ul class="menu__list">
          <li class="menu__item">
            <a href="#header" class="footer__link menu__link">Home</a>
          </li>

          <li class="menu__item">
            <div class="uk-inline">
              <a href="" class="footer__link menu__link menu__link-gallery"
                >gallery
              </a>
              <div
                class="menu__dropdown"
                data-uk-dropdown="mode: click; offset: 5; delay-hide: 100;  animation: uk-animation-slide-bottom-small; duration: 500; pos: top-center"
              >
                <ul class="uk-nav uk-dropdown-nav menu__dropdown-list">
                  <li class="uk-animation-toggle">
                    <a
                      href="#/"
                      class="menu__link menu__link-gallery uk-animation-scale-up"
                      >Photo</a
                    >
                  </li>

                  <li class="uk-animation-toggle">
                    <a
                      href="#/"
                      class="menu__link menu__link-gallery uk-animation-scale-up"
                      >video</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="footer__info">
        <p class="footer__text">
          Yevhenii Perepeliatnyk Copyrirht © 2020
        </p>
        <div class="footer__social social">
          <ul
            class="footer__list social__list"
            data-uk-scrollspy="cls: uk-animation-slide-bottom; delay: 800; repeat: true"
          >
            <li class="footer__item social__item">
              <a href="" class="social__link uk-animation-toggle">
                <svg class="footer__icon social__icon uk-animation-shake">
                  <use class="social__use" xlink:href="#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="footer__item social__item">
              <a href="" class="social__link uk-animation-toggle">
                <svg class="footer__icon social__icon uk-animation-shake">
                  <use class="social__use" xlink:href="#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="footert__item social__item">
              <a href="" class="social__link uk-animation-toggle">
                <svg class="footer__icon social__icon uk-animation-shake">
                  <use class="social__use" xlink:href="#youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
