<section
  id="gallery"
  class="section-gallery section uk-position-relative uk-visible-toggle uk-light"
  tabindex="-1"
  data-uk-slider="clsActivated: uk-transition-active; center: true; autoplay: true; autoplay-interval: 4000; pause-on-hover: false"
>
  <ul class="section-gallery__list uk-slider-items uk-grid-small">
    <li class="section-gallery__item uk-width-3-4">
      <div class="section-gallery__uk-panel uk-panel">
        <img class="section-gallery__img" src="images/gallery-1.jpg" alt="" />
        <div
          class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom"
        >
          <h3 class="uk-margin-remove">Bottom</h3>
          <p class="uk-margin-remove">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>
    </li>
    <li class="section-gallery__item uk-width-3-4">
      <div class="section-gallery__uk-panel uk-panel">
        <img class="section-gallery__img" src="images/gallery-2.jpg" alt="" />
        <div
          class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom"
        >
          <h3 class="uk-margin-remove">Bottom</h3>
          <p class="uk-margin-remove">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>
    </li>
    <li class="section-gallery__item uk-width-3-4">
      <div class="section-gallery__uk-panel uk-panel">
        <img class="section-gallery__img" src="images/gallery-3.jpg" alt="" />
        <div
          class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom"
        >
          <h3 class="uk-margin-remove">Bottom</h3>
          <p class="uk-margin-remove">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>
    </li>
    <li class="section-gallery__item uk-width-3-4">
      <div class="section-gallery__uk-panel uk-panel">
        <img class="section-gallery__img" src="images/gallery-4.jpg" alt="" />
        <div
          class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom"
        >
          <h3 class="uk-margin-remove">Bottom</h3>
          <p class="uk-margin-remove">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>
    </li>
    <li class="section-gallery__item uk-width-3-4">
      <div class="section-gallery__uk-panel uk-panel">
        <img class="section-gallery__img" src="images/gallery-5.jpg" alt="" />
        <div
          class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom"
        >
          <h3 class="uk-margin-remove">Bottom</h3>
          <p class="uk-margin-remove">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>
    </li>
  </ul>
</section>
