<header id="header" class="header section">
  <div class="header__container container">
    <div class="header__content content">
      <h3 class="content__subtitle">Hello</h3>
      <h2 class="content__title">
        I'm
        <span id="content-title" class="content__title--blue"
          >Yevhenii Perepeliatnyk</span
        >
      </h2>
      <p class="content__text">I make amazing professional videos and photos</p>
      <a class="content__button button" href="#about">About Me</a>
      <a class="content__button button" href="#gallery">Portfolio</a>
    </div>
  </div>
</header>
