<header id="header" class="header section">
  <div class="header__container container">
    <div class="header__content content">
      <h3 class="content__subtitle header__subtitle">Hello</h3>
      <h2 class="content__title header__title">
        I'm
        <span id="content-title" class="content__title--blue"
          >Yevhenii Perepeliatnyk</span
        >
      </h2>
      <p class="content__text">
        I make amazing professional videos and photos
      </p>

      <a
        class="content__button header__button button uk-animation-toggle"
        tabindex="0"
        href="#about"
      >
        <span class="button__text header__text uk-animation-scale-up"
          >About Me</span
        >
      </a>

      <a
        class="content__button header__button uk-animation-toggle button"
        href="#gallery"
        tabindex="0"
        ><span class="button__text header__text uk-animation-scale-up"
          >Portfolio</span
        ></a
      >
    </div>
  </div>
</header>
