<section
  class="section-imagery section"
  
>
  <div class="section-imagery__container container">
    <div class="section-imagery__content content">
      <h3 class="content__subtitle">Imagery</h3>
      <h2 class="content__title">
        Nuanced
        <span class="content__title--blue">Style</span>
      </h2>
      <p class="section-imagery__text content__text">
        Nuanced photos are a very delicate and elegant – I create immaculate
        photos which look more than catchy. Portrait made in nuanced style are
        the most touchy.
      </p>
      <a class="content__button button" href="#about">Contact</a>
    </div>
  </div>
</section>
