<section
  id="imagery"
  class="section-imagery section"
  data-uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 500; repeat: true"
>
  <div class="section-imagery__container container">
    <div class="section-imagery__content content">
      <h3 class="content__subtitle">Imagery</h3>
      <h2 class="content__title">
        Nuanced
        <span class="content__title--blue">Style</span>
      </h2>
      <p class="section-imagery__text content__text">
        Nuanced photos are a very delicate and elegant – I create immaculate
        photos which look more than catchy. Portrait made in nuanced style are
        the most touchy.
      </p>
      <a
        data-uk-scrollspy="cls: uk-animation-slide-bottom; delay: 800; repeat: true"
        class="content__button uk-animation-toggle button"
        href="#contact"
        tabindex="0"
        ><span class="button__text uk-animation-scale-up">Contact</span></a
      >
    </div>
  </div>
</section>
