<section
  class="section-lovestory section"
  data-uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 500; repeat: true"
>
  <div class="section-lovestory__container container">
    <div class="section-lovestory__content content">
      <h3 class="section-lovestory__subtitle content__subtitle">Love Story</h3>
      <h2 class="section-lovestory__title content__title">
        <span class="content__title--blue">Limitless</span> Happiness
      </h2>
      <p class="section-lovestory__text content__text">
        Romantic love story photoshoot is the most popular direction. Happy
        couples emit their love to the camera and photos show these feeling are
        real and fair.
      </p>
      <a
        data-uk-scrollspy="cls: uk-animation-slide-bottom; delay: 800; repeat: true"
        class="section-lovestory__button uk-animation-toggle content__button button"
        href="#contact"
        tabindex="0"
        ><span class="button__text uk-animation-scale-up">view more</span></a
      >
    </div>
  </div>
</section>
