<section
  class="section-portrait section"
  
>
  >
  <div class="section-portrait__container container">
    <div class="section-portrait__content content">
      <h3 class="section-portrait__subtitle content__subtitle">Portrait</h3>
      <h2 class="section-portrait__title content__title">
        <span class="content__title--blue">Girls</span> Portrait
      </h2>
      <p class="section-portrait__text content__text">
        Photo portrait is the art of depicting person’s inner world by means of
        camera. I create peculiar portraits highlighting hidden pieces of
        personality.
      </p>
      <a class="section-portrait__button content__button button" href="#/"
        >Contact</a
      >
    </div>
  </div>
</section>
