<section
  class="section-video section"
  data-uk-scrollspy="target: > div; cls: uk-animation-scale-up; delay: 700; repeat: true"
>
  <div
    class="uk-position-relative uk-visible-toggle uk-light"
    tabindex="-1"
    data-uk-slider
  >
    <ul class="uk-slider-items">
      <li class="uk-width-5-5">
        <div class="uk-panel">
          <div class="section-video__wrapper">
            <video
              controls
              class="section-video__slide"
              src="images/video_1.mp4"
              playsinline
              data-uk-video="autoplay: inview"
            ></video>
          </div>
          <!-- <div class="uk-position-center uk-text-center">
            <h2 data-uk-slider-parallax="x: 100,-100">Heading</h2>
            <p data-uk-slider-parallax="x: 200,-200">
              Lorem ipsum dolor sit amet.
            </p>
          </div> -->
        </div>
      </li>
      <li class="uk-width-5-5">
        <div class="uk-panel">
          <div class="section-video__wrapper">
            <video
              controls
              class="section-video__slide"
              src="images/video_2.mp4"
              playsinline
              data-uk-video="autoplay: inview"
            ></video>
          </div>
          <!-- <div class="uk-position-center uk-text-center">
            <h2 data-uk-slider-parallax="x: 100,-100">Heading</h2>
            <p data-uk-slider-parallax="x: 200,-200">
              Lorem ipsum dolor sit amet.
            </p>
          </div> -->
        </div>
      </li>
      <li class="uk-width-5-5">
        <div class="uk-panel">
          <div class="section-video__wrapper">
            <video
              controls
              class="section-video__slide"
              src="images/video_3.mp4"
              playsinline
              data-uk-video="autoplay: inview"
            ></video>
          </div>
          <!-- <div class="uk-position-center uk-text-center">
            <h2 data-uk-slider-parallax="x: 100,-100">Heading</h2>
            <p data-uk-slider-parallax="x: 200,-200">
              Lorem ipsum dolor sit amet.
            </p>
          </div> -->
        </div>
      </li>
    </ul>
    <a
      class="section-video__previous uk-position-center-left uk-position-small uk-slidenav-large"
      href="#"
      data-uk-slidenav-previous
      data-uk-slider-item="previous"
    ></a>
    <a
      class="section-video__next uk-position-center-right uk-position-small uk-slidenav-large"
      href="#"
      data-uk-slidenav-next
      data-uk-slider-item="next"
    ></a>

    <ul
      class="section-video__slider-nav uk-slider-nav uk-dotnav uk-flex-center uk-margin"
    ></ul>
  </div>
</section>
