<aside class="widget-navigation">
  <ul id="widget-navigation" class="widget-navigation__list">
    <li class="widget-navigation__btn widget-navigation__btn--active"></li>
    <li class="widget-navigation__btn">
      <a class="widget-navigation__link" href="#about"></a>
    </li>
    <li class="widget-navigation__btn"></li>
    <li class="widget-navigation__btn"></li>
    <li class="widget-navigation__btn"></li>
    <li class="widget-navigation__btn"></li>
    <li class="widget-navigation__btn"></li>
    <li class="widget-navigation__btn"></li>
  </ul>
</aside>
