.section-contacts {
  background-image: url(../images/bg-contacts.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 40%;
  background-attachment: fixed;
  &__container {
    text-align: center;
    height: 100%;
    @include flex(center, center, column);
    @media screen and (min-width: $screen-desktop) {
      @include flex(center, center, row);
      text-align: left;
    }
  }
  &__content {
    display: inline-block;
    width: 100%;
    margin-right: 0;
    margin-bottom: 5px;

    @media screen and (min-width: $screen-iphone-plus) {
      margin-bottom: 50px;
    }
    @media screen and (min-width: $screen-tablet) {
      width: 50%;
      margin-bottom: 100px;
    }
    @media screen and (min-width: $screen-desktop) {
      margin-right: 200px;
      margin-bottom: 0;
    }
  }
  &__subtitle {
    @include text($H500, 400, $white);
    @media screen and (min-width: $screen-iphone-plus) {
      @include text($H700, 400, $white);
    }
  }
  &__title {
    @include text($H600, 900, $white);
    margin-bottom: 0px;
    @media screen and (min-width: $screen-iphone-plus) {
      @include text($H800, 900, $white);
    }
  }
  &__text {
    @include text($H10, 400, $gray);
    font-family: $text-font;
    letter-spacing: 1px;
    margin-bottom: 0;
    @media screen and (min-width: $screen-iphone-plus) {
      @include text($H100, 400, $gray);
      margin-bottom: 30px;
    }
  }
  &__span {
    @include text($H10, 400, $white);
    margin-top: 0;
    @media screen and (min-width: $screen-iphone-plus) {
      @include text($H100, 400, $white);
      margin-top: 10px;
    }
  }
  &__link {
    @include text($H10, 400, $blue);
    transition: all 0.3s linear;
    @media screen and (min-width: $screen-iphone-plus) {
      @include text($H100, 400, $blue);
    }
    &--mail {
      @include text($H10, 400, $blue);
      display: inline-block;
      margin-bottom: 40px;
      @media screen and (min-width: $screen-iphone-plus) {
        @include text($H300, 400, $blue);
      }
    }
    &:hover {
      color: rgba(42, 202, 255, 1);
      text-shadow: 0px 0px 10px rgba(42, 202, 255, 1);
    }
  }
  &__social {
    display: none;
    @media screen and (min-width: $screen-tablet) {
      @include flex(center, center, row);
    }
    @media screen and (min-width: $screen-desktop) {
      @include flex(flex-start, center, row);
    }
  }
  &__list {
    @include flex(flex-start, center, row);
  }
  &__icon {
    fill: $gray;
  }
  &__form-wrapper {
    padding-top: 5px;
    width: 70%;
    @include flex(center, center, column);
    @media screen and (min-width: $screen-iphone) {
      padding-top: 50px;
    }
    @media screen and (min-width: $screen-tablet) {
      width: 50%;
    }
  }
  &__title {
    margin-bottom: 20px;
    &--blue {
      animation: textAnimation 0s linear infinite;
    }
    &--form {
      display: none;
      @media screen and (min-width: $screen-iphone-plus) {
        display: block;
      }
    }
  }
}
