.section-video {
  @include flex(center, center, column);

  height: 100vh;
  width: 100%;
  // background-color: $darken;
  background-image: url(../images/bg-video.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center 40%;
  background-attachment: fixed;

  &__slide {
    outline: none;
    border: thick double $gray;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    margin-top: 25px;
    margin-left: 50%;
    transform: translateX(-50%);

    width: 72vw;
  }
  &__previous {
    margin-left: 100px;
  }
  &__next {
    margin-right: 100px;
  }
}
