.section-gallery {
  height: 100vh;
  background-color: $darken;
  background-image: url(../images/bg-video.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center 40%;
  background-attachment: fixed;

  &__uk-panel {
    @include flex(center, center, column);
    height: 100vh;
    cursor: grab;
    &:active {
      cursor: grabbing;
    }
  }
  &__img {
    border: thick double $gray;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    height: 60vh;
    object-fit: cover;
    @media screen and (min-width: $screen-desktop-large) {
      height: 95vh;
    }
  }
}
