.section-about {
  height: 100vh;
  background-image: url(../images/about-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 20%;
  background-attachment: fixed;
  &__container {
    height: 100%;
    @include flex(center, center, column);
    @media screen and (min-width: $screen-hd) {
      @include flex(center, center, row);
    }
  }
  &__content {
    margin-bottom: 50px;
    text-align: center;
    margin-right: 0;
    @media screen and (min-width: $screen-hd) {
      margin-bottom: 200px;
    }
    @media screen and (min-width: $screen-hd) {
      text-align: left;
      margin-bottom: 0;
      margin-right: 200px;
    }
  }
  &__subtitle {
    @include text($H500, 400, $white);
    @media screen and (min-width: $screen-iphone) {
      @include text($H700, 400, $white);
    }
  }
  &__title {
    @include text($H600, 900, $white);
    margin-bottom: 0px;
    @media screen and (min-width: $screen-iphone) {
      @include text($H800, 900, $white);
    }
    &--blue {
      color: $blue;
    }
  }
  &__social {
    display: none;

    @media screen and (min-width: $screen-hd) {
      @include flex(flex-start, center, row);
    }
  }
  &__list {
    @include flex(flex-start, center, row);
  }
  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__icon {
    fill: $gray;
  }
  &__info {
    max-width: 90%;
    @media screen and (min-width: $screen-iphone-plus) {
      max-width: 600px;
    }
    @media screen and (min-width: $screen-tablet) {
      max-width: 800px;
    }
  }
  &__text {
    text-align: center;
    @include text($H10, 400, $gray);
    font-family: $text-font;
    letter-spacing: 2px;
    line-height: 1.6;
    @media screen and (min-width: $screen-iphone) {
      @include text($H50, 400, $gray);
    }
    @media screen and (min-width: $screen-iphone-plus) {
      @include text($H100, 400, $gray);
    }
    @media screen and (min-width: $screen-tablet) {
      @include text($H200, 400, $gray);
    }
    @media screen and (min-width: $screen-hd) {
      text-align: left;
    }
    &--social {
      display: none;
      @media screen and (min-width: $screen-hd) {
        display: block;
      }
    }
  }
  &__text:not(:last-child) {
    margin-bottom: 30px;
  }
}
