.section-portrait {
  height: 100vh;
  background-image: url(../images/bg-portrait.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 20%;
  background-attachment: fixed;

  &__container {
    text-align: center;
    height: 100%;
    @include flex(center, center, column);
    @media screen and (min-width: $screen-desktop) {
      @include flex(center, flex-end, column);
      text-align: left;
    }
  }
  &__content {
    max-width: 350px;
    @media screen and (min-width: $screen-iphone-plus) {
      margin-right: 50px;
      max-width: 600px;
    }
  }
  &__subtitle {
    @include text($H500, 400, $white);
    @media screen and (min-width: $screen-iphone) {
      @include text($H700, 400, $white);
    }
  }
  &__title {
    @include text($H600, 900, $white);
    @media screen and (min-width: $screen-iphone-plus) {
      @include text($H800, 900, $white);
    }
  }
  &__text {
    text-align: center;
    @include text($H200, 400, $gray);
    line-height: 2;
    @media screen and (min-width: $screen-desktop) {
      text-align: left;
    }
  }
  &__button {
    background-color: $blue;
  }
}
