.burger-menu-noactive {
  opacity: 0;
  animation: all 0.2s linear;
  // display: none;
}

.burger-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100vh;
  z-index: 100;
  // border-radius: 15px;
  background-image: url(../images/bg-video.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  // background: linear-gradient(
  //     45deg,
  //     #b4b4b4 25%,
  //     transparent 25%,
  //     transparent 75%,
  //     #b4b4b4 75%
  //   ),
  //   linear-gradient(
  //       45deg,
  //       #b4b4b4 25%,
  //       transparent 25%,
  //       transparent 75%,
  //       #b4b4b4 75%
  //     )
  //     0.1875em 0.1875em,
  //   radial-gradient(at 50% 0, #e4e4e4, #b4b4b4);
  // background-size: 0.375em 0.375em, 0.375em 0.375em, 100% 100%;
  @include flex(center, center, column);
  animation: fadeInRight 0.8s linear;
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      top: 100%;
    }
    50% {
      opacity: 1;
      top: 50%;
    }
  }
  &__list {
    @include flex(center, center, column);
  }
  &__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 40px;
  }
  &__link {
    @include text($H400, 900, $darken);
    opacity: 0.7;
    @media screen and (min-width: $screen-iphone) {
      @include text($H600, 900, $darken);
    }
  }
  &__btn {
    overflow: hidden;
    position: fixed;
    top: 25px;
    right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: $screen-desktop-large) {
      display: none;
    }
  }
  &__input {
    display: flex;
    width: 30px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
  &__btn span {
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    background: #7f8fa6;
    border-radius: 4px;
    -webkit-transition: all 0.35s cubic-bezier(0.08, 0.81, 0.87, 0.71);
    -moz-transition: all 0.35s cubic-bezier(0.08, 0.81, 0.87, 0.71);
    -ms-transition: all 0.35s cubic-bezier(0.08, 0.81, 0.87, 0.71);
    -o-transition: all 0.35s cubic-bezier(0.08, 0.81, 0.87, 0.71);
    transition: all 0.35s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  }
  &__span--top {
    transform-origin: 4px 0px;
  }

  &__span--bottom {
    transform-origin: bottom right;
  }
  // &__btn input:checked ~ &__span--top {
  //   background-color: #7f8fa6;
  //   transform: rotate(45deg) translate(8px);
  // }
  // &__btn input:checked ~ &__span--middle {
  //   background-color: #7f8fa6;
  //   transform: rotate(495deg) translate(4px);
  // }
  // &__btn input:checked ~ &__span--bottom {
  //   background-color: #7f8fa6;
  //   transform: rotate(45deg);
  //   opacity: 0;
  // }
}
