.content {
  &__subtitle {
    @include text($H700, 700, $dark);
    font-family: $italic-font;
    letter-spacing: 4px;
  }
  &__title {
    @include text($H800, 400, $dark);
    font-family: $main-font;
    letter-spacing: 3px;
    margin-bottom: 30px;
  }
  &__title--blue {
    color: $blue;

    animation: textAnimation 4s linear infinite;

    @keyframes textAnimation {
      0% {
        opacity: 0.2;
      }
      8% {
        opacity: 1;
      }
      17% {
        opacity: 1;
      }
      25% {
        opacity: 1;
      }
      50% {
        opacity: 0.6;
      }
      90% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }
  }

  &__text {
    @include text($H500, 400, $darken);
    font-family: $text-font;

    margin-bottom: 70px;
  }
  &__button:not(:last-child) {
    margin-right: 30px;
    background: $blue;
    &:hover {
      background-color: $white;
    }
  }
}
