.content {
  &__subtitle {
    @include text($H700, 700, $dark);
    font-family: $italic-font;
    letter-spacing: 4px;
    margin-bottom: 20px;

    @media screen and (min-width: $screen-tablet) {
      @include text($H700, 700, $dark);

      margin-bottom: 0px;
    }
  }
  &__title {
    @include text($H200, 700, $dark);
    font-family: $main-font;
    letter-spacing: 1px;
    margin-bottom: 60px;
    @media screen and (min-width: $screen-iphone) {
      @include text($H500, 700, $dark);
    }
    @media screen and (min-width: $screen-iphone-plus) {
      @include text($H700, 400, $dark);
      letter-spacing: 3px;
      margin-bottom: 30px;
    }
    @media screen and (min-width: $screen-tablet) {
      @include text($H800, 400, $dark);
    }
  }
  &__title--blue {
    color: $blue;

    @media screen and (min-width: $screen-desktop-large) {
      animation: textAnimation 4s linear infinite;

      @keyframes textAnimation {
        0% {
          opacity: 0;
        }
        8% {
          opacity: 0;
        }
        17% {
          opacity: 1;
        }
        25% {
          opacity: 1;
        }
        50% {
          opacity: 0.6;
        }
        90% {
          opacity: 0;
        }
        100% {
          opacity: 0;
        }
      }
    }
  }

  &__text {
    // text-align: center;
    @include text($H50, 700, $darken);
    font-family: $text-font;
    margin-bottom: 70px;
    @media screen and (min-width: $screen-desktop) {
      @include text($H500, 400, $darken);
      // text-align: left;
    }
  }
  &__button:not(:last-child) {
    margin-right: 30px;
    background: $blue;
    @media screen and (min-width: $screen-desktop-large) {
      &:hover {
        background-color: $white;
      }
    }
  }
}
