.logo {
  // margin-right: 100px;
  display: none;
  @media screen and (min-width: $screen-tablet) {
    display: block;
  }
  @media screen and (min-width: $screen-desktop-large) {
    margin-right: 0;
  }
  &__link {
    @include flex(center, center, row);
  }
  &__img {
    width: 90px;
    height: auto;
    margin-right: 10px;
  }
  &__title {
    text-align: center;
    display: none;
    font-family: $main-font;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 2;
    transition: all 0.3s linear;
    @media screen and (min-width: $screen-iphone-plus) {
      @include text($H100, 900, $darken);
      display: block;
    }
    @media screen and (min-width: $screen-tablet) {
      @include text($H200, 900, $darken);
    }
  }
}
