.map {
  border: 2px solid $gray;
  border-radius: 10px;
  height: 40vh;
  width: 70%;
  margin: 0 auto;
  transition: all 0.5s linear;
  margin-bottom: 20vh;
  @media screen and (min-width: $screen-iphone-plus) {
    height: 50vh;
  }
  &:hover {
    width: 70%;
  }
}
