.menu {
  // border-right: 1px solid $gray;
  // border-left: 1px solid $gray;
  // padding-right: 50px;
  // padding-left: 50px;
  line-height: 2;
  &__list {
    @include flex(space-between, center, row);
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__link {
    padding: 7px 0 7px 0;
    @include text($H10, 900, $darken);
    font-family: $main-font;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.2s linear;
    &:hover,
    &:focus {
      color: $blue;
    }
  }

  &__link::before,
  &__link::after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    background-color: $gray;
    transition: width 0.2s ease-in-out;
  }
  &__link:hover:before,
  &__link:hover::after,
  &__link:focus:before,
  &__link:focus::after {
    width: 100%;
  }
}
